.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid black;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto Slab", serif;
  color: #7f888f;
  line-height: 1;
}
#wrapper {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100vh;
}
#main {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}
#main .inner {
  padding: 0 70px 0.1em 70px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
@media (max-width: 1000px) {
  #main .inner {
    padding: 0 20px 0.1em 20px;
  }
}
.banner {
  display: flex;
  vertical-align: baseline;
  padding-top: 53px;
  padding-bottom: 27px;
}
.banner .content {
  width: 45%;
}
.banner .content header p {
  font-family: "Roboto Slab", serif;
  margin-bottom: 27px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.65;
}
.banner h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 24px;
  color: #3d4449;
}
.banner span {
  width: 580px;
  margin-left: 53px;
}
.banner img {
  width: 100%;
  height: 403px;
}
#main .inner section {
  border-top: solid 2px rgba(210, 215, 217, 0.75);
  padding: 40px 0 40px 0;
}
@media (max-width: 1000px) {
  #main .inner section {
    padding: 15px 0 5px 0;
  }
}
#main .inner section header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#main .inner section header h2 {
  font-size: 25px;
  color: #3d4449;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1em 0;
  border-bottom: solid 3px #f56a6a;
  display: inline-block;
  margin: 0 0 2em 0;
  padding: 0 0.75em 0.5em 0;
}
#main .inner section .features {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 2em -3em;
  width: calc(100% + 3em);
}
@media (max-width: 1000px) {
  #main .inner section .features {
    margin: 0 0 10px 0;
    width: 100%;
    flex-direction: column;
  }
}
#main .inner section .features article {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 0 15px 15px;
  position: relative;
  width: calc(50% - 15px);
}
@media (max-width: 1000px) {
  #main .inner section .features article {
    margin-right: 0;
    width: 98%;
  }
}
@media (max-width: 500px) {
  #main .inner section .features article {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }
}
#main .inner section .features article .icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  display: block;
  height: 10em;
  line-height: 10em;
  margin: 0 2em 0 0;
  text-align: center;
  width: 10em;
}
@media (max-width: 1000px) {
  #main .inner section .features article .icon {
    height: 40px;
    line-height: 40px;
    width: 40px;
  }
}
@media (max-width: 500px) {
  #main .inner section .features article .icon {
    height: 30px;
    line-height: 30px;
    margin: 0 0 5px 0;
    width: 30px;
  }
}
#main .inner section .features article .content {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}
#main .inner section .features article .content h3 {
  font-size: 20px;
  color: #3d4449;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1em 0;
}
#main .inner section .features article .content p {
  margin-bottom: 0;
  margin: 0 0 2em 0;
}
#main .inner section .posts {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2em -10px;
  width: calc(100% + 10px);
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#main .inner section .posts article {
  width: calc(50% - 10px);
  flex-grow: 0;
  flex-shrink: 1;
  margin: 0 0 10px 10px;
  position: relative;
}
#main .inner section .posts article .image {
  display: block;
  margin: 0 0 2em 0;
  border-radius: 0.375em;
  border: 0;
  position: relative;
}
#main .inner section .posts article .image a {
  overflow: hidden;
}
#main .inner section .posts article .image a img {
  border-radius: 0.375em;
  transition: transform 0.2s ease;
  display: block;
  width: 100%;
}
#main .inner section .posts article h3 {
  font-size: 1.25em;
  color: #3d4449;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1em 0;
}
#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-bottom: solid 5px #f56a6a;
  padding: 30px 0 5px 0;
  position: relative;
}
@media (max-width: 1000px) {
  #header {
    padding-top: 35px;
  }
}
#header h1 {
  color: #3d4449;
  border-bottom: 0;
}
@media (max-width: 1000px) {
  #header h1 {
    margin: 0;
    font-size: 1.25em;
  }
}
@media (max-width: 500px) {
  #header {
    margin: 0 auto;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100px;
    padding-left: 59px;
    padding-right: 45px;
  }
}
#header a {
  text-decoration: none;
  text-decoration-color: black;
  font-size: 18px;
  margin: 0px 0px;
}
